MONGO_DBNAME=Put your db name here
MONGO_URI=Put your mongodb uri here
FLASK_APP=app.py
FLASK_ENV=development
FLASK_PORT=5000
GUNICORN_PROCESSES=2
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=120
GUNICORN_BIND=0.0.0.0:8080
KEY=Put your flask login key here