<!-- form used to create a new post -->
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <script defer src="../static/js/script.js"></script>
  </head>

  <h2>Write a Post</h2>
  <form method="POST" action="{{ url_for('create_post') }}">
    <input type="text" id="fname" name="fname" placeholder="Your name"/>
    <br />
    <textarea type="text" id="fmessage" name="fmessage" placeholder="Message"></textarea>
    <br />
    <input type="submit" value="Save" />
  </form>
</html>