<!DOCTYPE html>
<html> 
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script defer src="{{ url_for('static', filename='/js/script.js') }}"></script>
  </head>

  <body>

    <div id="navBar">
      <button id="menuBtn" >
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </button>
      <h1 id ="title">{% block header %} {% endblock %}</h1>
      <a href="{{ url_for('logout') }}" id="logoutLink">
        <img src="{{ url_for('static', filename='images/logout.svg') }}" alt="Logout Icon" class="logoutIcon">
      </a>
    </div>

    <div id="menu">
      <a href="{{ url_for('visited') }}">My National Parks</a>
      <a href="{{ url_for('search') }}">Search</a>
      <a href="{{ url_for('discover') }}">Discover</a>
    </div>

    <main>
      {% block content %}{% endblock %}
    </main>

  </body>
</html>
