{% extends 'base.html' %}

{% block title %}Register New User{% endblock %}
{% block header %}Register New User{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/style.css"/>

    <section class="create-new-user">
        <h1>Create New User Account:</h1>
        <div id="createUserContainer">
            <form method="POST" action="{{ url_for('addNewUser') }}">
                <div class="form-row">
                    <label for="loginUsername">Login Name*:</label>
                    <input type="text" id="loginUsername" name="username" placeholder="at least 4 characters long" required>
                </div>
                <div class="form-row">
                    <label for="loginPassword">Password*:</label>
                    <input type="password" id="loginPassword" name="password" placeholder="at least 4 characters long" required>
                </div>
                <div class="form-row">
                    <label for="loginConfirmPassword">Confirm Password*:</label>
                    <input type="password" id="loginConfirmPassword" name="confirmPassword" required>
                </div>
                <div class="submitDiv">
                    <button type="submit" class="submitBtn">Submit</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
