<!DOCTYPE html>
<html> 
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script defer src="{{ url_for('static', filename='/js/script.js') }}"></script>
  </head>

  <body>
    <section class="create-new-user">
        <h1>Create New User Account:</h1>
        <div id="createUserContainer">
            <form method="POST" action="{{ url_for('addNewUser') }}">
                <div class="form-row">
                    <label for="loginUsername">Login Name*:</label>
                    <input type="text" id="loginUsername" name="username" placeholder="at least 4 characters long" required>
                </div>
                <div class="form-row">
                    <label for="loginPassword">Password*:</label>
                    <input type="password" id="loginPassword" name="password" placeholder="at least 4 characters long" required>
                </div>
                <div class="form-row">
                    <label for="loginConfirmPassword">Confirm Password*:</label>
                    <input type="password" id="loginConfirmPassword" name="confirmPassword" required>
                </div>
                <div class="submitDiv">
                    <button type="submit" class="submitBtn">Submit</button>
                </div>
            </form>

            {% if error %}
                <p id="message">{{ error }}</p>
            {% endif %}
        </div>
    </section>

</body>
</html>
