{% extends 'base.html' %}

{% block title %}Register New User{% endblock %}
{% block header %}Register New User{% endblock %}

{% block content %}
    <section class="create-new-user">

        <h1>Create New User Account:</h1>
        <div id="createUserContainer">
            <form method="POST" action="{{ url_for('addNewUser') }}" >
                <div>Login Name*:
                    <input type="text" id="username" name="username" placeholder="at least 4 characters long" required>
                </div>
                <p>Password*:
                    <Password>
                        <input type="text" id="password" name="password" placeholder="at least 4 characters long" required>
                    </Password>
                </p>
                <p>Confirm Password*:
                    <Password>
                        <input type="text" id="confirmPassword" name="confirmPassword" required>
                    </Password>
                </p>
                <div class="submitDiv">
                    <button type="submit" value="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
