{% extends 'base.html' %}


{% block title %}Discover National Parks{% endblock %}
{% block header %}Discover National Parks{% endblock %}

{% block content %}
   <div id = "discoverContainer">
      <p class = "topParkHeader">Most Liked Parks</p>
      <div class = "discoverItem">
         <div class = "listParks">
            {% for park in top_liked_parks %}
               <a href="/park_info/{{park._id}}">{{park.park_name}}, {{park.state}}</a>
            {% endfor %}
         </div>
      </div>

      <p class = "topParkHeader">Top Rated Parks</p>
      <div class = "discoverItem">
         <div class = "listParks">
            {% for park in top_rated_parks %}
               <a href="/park_info/{{park._id}}">{{park.park_name}}, {{park.state}}</a>
            {% endfor %}
         </div>
      </div>

      <p class = "topParkHeader">Largest Parks</p>
      <div class = "discoverItem">
         <div class = "listParks">
            {% for park in largest_parks %}
            <a href="/park_info/{{park._id}}">{{park.park_name}}, {{park.state}}</a>
            {% endfor %}
         </div>
      </div>
   </div>
{% endblock %}