{% extends 'base.html' %}


{% block title %}Discover National Parks{% endblock %}
{% block header %}Discover National Parks{% endblock %}

{% block content %}
   <div id = "discoverContainer">
      <p class = "topParkHeader">Most Visited Parks</p>
      <div class = "discoverItem">
         <div class = "listParks">
            <a href = "#">Park 1, State</a>
            <a href = "#">Park 2, State</a>
            <a href = "#">Park 3, State</a>
            <a href = "#">Park 4, State</a>
            <a href = "#">Park 5, State</a>
         </div>
      </div>

      <p class = "topParkHeader">Most Liked Parks</p>
      <div class = "discoverItem">
         <div class = "listParks">
            <a href = "#">Park 1, State</a>
            <a href = "#">Park 2, State</a>
            <a href = "#">Park 3, State</a>
            <a href = "#">Park 4, State</a>
            <a href = "#">Park 5, State</a>
         </div>
      </div>

      <p class = "topParkHeader">Best Rated Parks</p>
      <div class = "discoverItem">
         <div class = "listParks">
            <a href = "#">Park 1, State</a>
            <a href = "#">Park 2, State</a>
            <a href = "#">Park 3, State</a>
            <a href = "#">Park 4, State</a>
            <a href = "#">Park 5, State</a>
         </div>
      </div>
   </div>
{% endblock %}