{% extends 'base.html' %}

{% block title %}Review a National Park{% endblock %}
{% block header %}Review a National Park{% endblock %}

{% block content %}
    <section class="my-parks">
        <div>
            <h2>Enter or modify the rating, like status, and comment of a park I visited:</h2>
            <form method="POST" action="{{ url_for('editVisitedPark', park_id=park_id) }}" >
              <p><b>{{ doc.park_name }}</b></p>
              <p><b>State:</b> {{ doc.state }}</p>
              <p><b>Rating:</b>
              <label for="rating1">1</label>
              {% if doc.rating == 1 %}
                <input type="radio" id="rating1" name="rating" value="1" checked>
              {% else %}
                <input type="radio" id="rating1" name="rating" value="1">
              {% endif %}

              &nbsp;&nbsp;

              <label for="rating2">2</label>
              {% if doc.rating == 2 %}
                <input type="radio" id="rating2" name="rating" value="2" checked>
              {% else %}
                <input type="radio" id="rating2" name="rating" value="2">
              {% endif %}

              &nbsp;&nbsp;

              <label for="rating3">3</label>
              {% if doc.rating == 3 %}
                <input type="radio" id="rating3" name="rating" value="3" checked>
              {% else %}
                <input type="radio" id="rating3" name="rating" value="3">
              {% endif %}
              
              &nbsp;&nbsp;

              <label for="rating4">4</label>
              {% if doc.rating == 4 %}
                <input type="radio" id="rating4" name="rating" value="4" checked>
              {% else %}
                <input type="radio" id="rating4" name="rating" value="4">
              {% endif %}

              &nbsp;&nbsp;

              <label for="rating5">5</label>
              {% if doc.rating == 5 %}
                <input type="radio" id="rating5" name="rating" value="5" checked>
              {% else %}
                <input type="radio" id="rating5" name="rating" value="5">
              {% endif %}
            </p>

            <p><b>Liked:</b>
              {% if doc.liked == 'true' %}
                <label for="liked">Yes</label>
                  <input type="radio" id="like" name="liked" value="Yes" checked>
                <label for="liked">No</label>
                  <input type="radio" id="like" name="liked" value="No">
              {% else %}
                <label for="liked">Yes</label>
                  <input type="radio" id="like" name="liked" value="Yes">
                <label for="liked">No</label>
                  <input type="radio" id="like" name="liked" value="No" checked>
              {% endif %}
            </p>

            <p><b>My Comment:</b> 
              &nbsp;&nbsp;
              <textarea cols="50" rows="5" type="text" id="comment" name="comment">{{doc.comment}}</textarea>
            </p>
            <div class="submitDiv">
                <button type="submit" value="submit" class="searchBtn">Save</button>
            </div>
          </form>
        </div>
    </section>

{% endblock %}
