{% extends 'base.html' %}

{% block title %}My National Parks - Visited{% endblock %}
{% block header %}My National Parks{% endblock %}

{% block content %}
    <section class="my-parks">
        <div class="profile">Your Profile</div>

        <nav class="tabs">
            <a href="{{ url_for('visited') }}">Visited Parks</a>
            <a href="{{ url_for('liked') }}">Liked Parks</a>
        </nav>
        
        <div id="searchContainer">
            <p class="search-description">🔍 Search for a park by name or state:</p>
            <form action="#" method="GET">
                <input type="text" id="searchInput" name="query" placeholder="e.g. Yellowstone National Park">
                <h3 id="search-by">Search By</h3>
                <select id="search-by-value" name="search-by-value">
                    <option value="State">State</option>
                    <option value="Name">Name</option>
                  </select>
                <div class="submitDiv">
                    <button type="submit" value="submit" class="searchBtn">Search</button>
                </div>
            </form>
        </div>
      
        <a href="{{ url_for('addPark') }}">+ Add a Park You've Visited</a>

    </section>

    {% for doc in docs %}
    <div class="park-rating">
        <p class="park-name">
            {{ doc.park_name }}
        </p>
        <p> {{ doc.state }}</p>
        <p> Size of Park: {{ doc.size }} </p>
        <p> Rating: {{ doc.rating }} </p>
        <p> Comments: {{ doc.comment }} </p>
        <p>
            <a href="{{ url_for('edit', park_id=doc._id) }}">Edit</a> | 
            <a href="{{ url_for('delete', park_id=doc._id) }}">Delete</a> | 
            {% if doc.is_public %}
                <a href="{{ url_for('makePrivate', park_id=doc._id) }}">Make Private</a>
            {% else %}
                <a href="{{ url_for('makePublic', park_id=doc._id) }}">Make Public</a>
            {% endif %}
        </p>
    </div>
    {% endfor %}

{% endblock %}
