{% extends 'base.html' %}

{% block title %}My National Parks - Visited{% endblock %}
{% block header %}My National Parks{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/style.css"/>
    <section class="my-parks">
        <div id="parkListContainer">
            {% if not user_id %}
                <div>User ID not received</div>
            {% elif is_new_user == 'true' %}
                <h3>User ID received: {{ user_id }}, {{ is_new_user }}</h3>
                <h2>Welcome to the National Parks App!</h2><br>
                <p align="center"><a href="{{ url_for('addPark', user_id=user_id) }}">+ Add a Park I have Visited</a></p>
            {% else %}
                <h3>User ID received: {{ user_id }}</h3>
                <h3>National Parks I have visited:</h3>
                <p align="center"><a href="{{ url_for('addPark', user_id=user_id) }}">+ Add a Park I have Visited</a></p>
                <br>
                {% if docs and docs|length > 0 %}
                    <ul>                       
                        {% for doc in docs %}
                            <li>
                                <a href="{{ url_for('park_info', park_id=doc.id) }}">
                                    <h3>{{ doc.park_name }}</h3>
                                </a>
                                <p>State: {{ doc.state }}</p>
                                <p>Rating: {{ doc.rating }}</p>
                                <p>Like: {{ doc.like }}</p>
                                <p>Comment: {{ doc.comment }}</p>
                                <a href="{{ url_for('edit', park_id=doc.id) }}">Edit</a>
                                <a href="{{ url_for('delete', park_id=doc.id) }}">Delete</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h3>Have you visited any National Park yet?<br>
                    Click the link above to add a park you have visited<br> 
                    or click the menu bar at the top to explore National Parks.</h3>    
                {% endif %}                
            {% endif %}
        </div>        
    </section> 
{% endblock %}