{% extends 'base.html' %}

{% block title %}My National Parks - Visited{% endblock %}
{% block header %}My National Parks{% endblock %}

{% block content %}
    <section class="my-parks">
        <div id="parkListContainer">
            <h2>National Parks I have visited:</h2>
            <a href="{{ url_for('addPark', user_id=user_id) }}">+ Add a Park I have Visited</a>
            <br>
            {% if not user_id %}
                <div>User ID not received</div>
            {% elif is_new_user == 'true' %}
                <h3>User ID received: {{ user_id }}, {{ is_new_user }}</h3>
                <h2>Welcome to the National Parks App!<br><br>
                    Have you visited any National Park yet?<br>
                    Click the link above to add a park you have visited<br> 
                    or click the menu bar to explore National Parks.</h2>
            {% else %}
                <h3>User ID received: {{ user_id }}</h3>               
            {% endif %}
        </div>        
    </section> 
{% endblock %}
