{% extends 'base.html' %}

{% block title %}Park Information{% endblock %}
{% block header %}Park Information{% endblock %}
{% block content %}
<section class="park-info">
    <h2>Park Information</h2>
    <div><b>{{ docs.park_name }}</b></div>
    <div> {{ docs.state }}</div>
    <img src="{{ url_for('static', filename=docs.img_src) }}" style="height:500px;width:500px;" alt="{{docs.park_name}}"></img>
    <div> <b>Size:</b> {{ docs.size }} km2 </div>
    {% if docs.entrance_fee == True %}
    <div> <b>Entrance Fee:</b> Yes </div>
    {% else %}
    <div> <b>Entrance Fee:</b> No </div>
    {% endif %}
    <div><b>Description:</b> {{ docs.description }} </div>
    <div> <b>Rating:</b> {{ docs.rating }} </div>
    <div> <b>Likes:</b> {{ docs.likes }} </div>
    <a href="{{ url_for('addVisitedPark', park_id=docs._id) }}">Add to My Visited Parks List</a>
    <div>
        <b>Comments:</b>
        {% for c in docs.comments %}
            <p>{{ c }}</p>
        {% endfor %}
    </div>

</section>
{% endblock %}
