{% extends 'base.html' %}

{% block title %}Park Information{% endblock %}
{% block header %}Park Information{% endblock %}
{% block content %}
<section class="park-info">
    <h2>Park Information</h2>
    <div><b>{{ docs.park_name }}</b></div>
    <div> {{ docs.state }}</div>
    <img src="{{ url_for('static', filename=docs.img_src) }}" style="height:500px;width:500px;" alt="{{docs.park_name}}"></img>
    <div> <b>Size:</b> {{ docs.size }} </div>
    <div> <b>Entrance Fee:</b> {{ docs.entrance_fee }} </div>

{#

    <div> <b>Rating:</b>{{ docs.rating }} </div>
    <div> <b>Likes:</b>{{ docs.like }} </div>
    <div><a  href="{{ url_for('liked')}}">Like this Park</a></div>
    <div><a  href="{{ url_for('addPark', park_id=docs._id) }}">Add to Parks I've Visited</a></div>
    <div class="comments">
        <b>Comments:</b>
        <p>{{ docs.comment }}</p>
    </div>

#}
</section>

{% endblock %}
