{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block header %}Search{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/style.css"/>

   <div id="searchContainer">
     <form action="#" method="GET">
         <input type="text" id="searchInput" name="query" placeholder="Enter Search...">
         <h3 id="advancedHeader">Advanced Filters</h3>
         <div id="filterSection">
            <div class="filterItem">
               <label for="price">Size of Park</label>
               <select id="price" name="price">
                  <option value="" selected>Size of Park</option>
                  <option value="Small">Small</option>
                  <option value="Medium">Medium</option>
                  <option value="Large">Large</option>
                
               </select>
            </div>

            <div class="filterItem">
               <label for="rating">Rating</label>
               <select id="rating" name="rating">
                  <option value="" selected>Any Rating</option>
                  <option value="1">1 Star</option>
                  <option value="2">2 Stars</option>
                  <option value="3">3 Stars</option>
                  <option value="4">4 Stars</option>
                  <option value="5">5 Stars</option>
               </select>
            </div>
         </div>
         <div class="submitDiv"><button type="submit" value="submit" class="searchBtn">Search</button></div>
     </form>
   </div>
{% endblock %}
